@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&display=swap");

$chakra: "Chakra Petch";
$josefin: "Josefin Sans";
$poppins: "Poppins";

@mixin font($family, $size, $weight: 500) {
  font-family: $family, sans-serif;
  font-size: $size;
  font-weight: $weight;
}
