@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #dbeafe;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #60a5fa;
  height: 100%;
}

.sidebar .icon {
  margin: 1.2rem 1rem;
  color: #f9fafb;
  --ggs: 1.5;
  cursor: pointer;
}

.sidebar .icon:hover {
  color: #374151;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin: 1rem 1.5rem;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0rem 1rem;
  padding-right: 1rem;
}

.container header .logo {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #60a5fa;
}

.container header .user {
  color: #374151;
  padding-top: 0.5em;
  cursor: pointer;
}

.container header .user .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .user .name h3,
.container header .user .name div {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin-right: 1.5rem;
}

.container header .user .logout {
  visibility: hidden;
  background: #f9fafb;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 4px;
}

.container header .user .logout p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: regular;
  text-align: center;
}

.container header .user .logout:hover {
  color: #60a5fa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container header .user:hover .logout {
  visibility: visible;
}

.container .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 1rem;
  padding-right: 2rem;
}

.container .statistics .statistic-container {
  background: #60a5fa;
  -webkit-box-flex: calc(1 / 6);
      -ms-flex: calc(1 / 6);
          flex: calc(1 / 6);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
}

.container .statistics .statistic-container .statistic-title {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  color: rgba(249, 250, 251, 0.9);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.container .statistics .statistic-container .statistic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
}

.container .statistics .statistic-container .statistic-number {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(249, 250, 251, 0.9);
  padding: 0 0.5rem;
}

.container .statistics .statistic-container .statistic-icon {
  color: rgba(249, 250, 251, 0.9);
  margin-left: 0.8rem;
  --ggs: 1.2;
}

.container .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9fafb;
  width: calc(100% / 4);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
}

.container .products .product .img {
  width: 5em;
  height: 5em;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .products .product .product-name {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #374151;
  padding: 0.5rem;
}

.container .products .product .product-quantity,
.container .products .product .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #374151;
}

.container .products .product .product-quantity p,
.container .products .product .product-price p {
  padding-right: 0.5rem;
}

.container .products .product .product-quantity i,
.container .products .product .product-price i {
  --ggs: 0.8;
}

.container .products .product .product-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 0.5rem;
}

.container .products .product .product-btns .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-left: 1rem;
}

.container .products .product .product-btns .btns i {
  color: #374151;
  --ggs: 1;
  cursor: pointer;
}

.container .products .product .product-btns .btns .gg-trash {
  color: #dc2626;
}
/*# sourceMappingURL=style.css.map */