@import "./colors";
@import "./flex";
@import "./fonts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  @include flex();
  background-color: $surface;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

.bg {
  background: $primary;
}

.sidebar {
  @include flex(column, center, center);
  background-color: $primary;
  height: 100vh;
  width: 10vh;
  .icon {
    margin: 1.2rem 1rem;
    color: $light-blue;
    --ggs: 1.5;
    cursor: pointer;
    &:hover {
      color: $dark-gray;
      transition: 0.5s;
    }
  }
  .active-tab {
    color: $dark-gray;
  }
}

.container {
  @include flex(column);
  width: 100%;
  margin: 1rem 1.5rem;

  header {
    @include flex($justify: space-between);
    width: 100%;
    height: fit-content;
    margin: 0rem 1rem;
    padding-right: 1rem;
    .logo {
      @include font($chakra, 2em, bold);
      color: $primary;
    }
    .user {
      color: $dark-gray;
      padding-top: 0.5em;
      cursor: pointer;
      .name {
        @include flex($justify: center, $items: center);
        h3,
        div {
          @include font($poppins, 1em);
          margin-right: 1.5rem;
        }
      }
      .logout {
        visibility: hidden;
        background: $light-blue;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -2px rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        border-radius: 4px;
        p {
          @include font($poppins, 1em, regular);
          text-align: center;
        }
        &:hover {
          color: $primary;
          transition: 0.5s;
        }
      }
      &:hover {
        .logout {
          visibility: visible;
        }
      }
    }
  }

  .filters {
    @include flex($justify: space-evenly, $items: center);
    margin: 1rem;
    flex-wrap: wrap;
    label {
      @include font($poppins, 1em, 400);
      color: $dark-gray;
      margin: 0rem 0.5rem;
      margin-bottom: 0.5rem;
    }
    .input {
      @include flex($justify: center, $items: center);
      background-color: $light-gray;
      padding: 0rem 0.5rem;
      margin: 0rem 0.5rem;
      border-radius: 6px;
      border: 1px solid $dark-gray;

      input,
      select {
        @include font($poppins, 1em, 400);
        color: $darker-gray;
        width: 12em;
        padding: 0.5rem;
        background-color: $light-gray;
        border: none;
        border-radius: 6px;
        outline: none;
        appearance: none;
      }

      i {
        color: $dark-gray;
      }
      &:focus-within {
        border: 2px solid $primary;
        i {
          color: $primary;
        }
      }
    }
  }
  .statistics-page,
  .add-product-page,
  .rapports-page {
    display: none;
    flex-direction: column;
  }
  .statistics {
    @include flex(row, space-evenly, center);
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
    padding-right: 2rem;
    .statistic-container {
      background: $primary;
      width: 12em;
      margin-top: 0.5rem;
      height: fit-content;
      border-radius: 4px;
      .statistic-title {
        @include font($poppins, 0.8em, 600);
        color: rgba($light-blue, 0.9);
        padding-left: 0.5rem;
        padding-top: 0.5rem;
      }
      .statistic-content {
        @include flex(row, center, center);
        margin: 0.5rem;
      }
      .statistic-number {
        @include font($poppins, 1.5em, 700);
        color: rgba($light-blue, 0.9);
        padding: 0 0.5rem;
      }
      .statistic-icon {
        color: rgba($light-blue, 0.9);
        margin-left: 0.8rem;
        --ggs: 1.2;
      }
    }
  }

  .products {
    // background: $primary;
    @include flex($justify: space-between);
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;

    .empty {
      @include font($poppins, 1em, 600);
      color: $dark-gray;
      width: 100%;
      height: 100%;
      padding-top: 12rem;

      text-align: center;
    }

    .product {
      @include flex(column, center, center);
      background-color: $light-blue;
      width: 18em;
      height: 14em;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 0.5rem 1rem;
      margin: 0rem 1rem;
      .img {
        // background: $primary;
        width: 5em;
        height: 5em;
        // border-radius: 50%;
        object-fit: contain;
      }
      .product-name {
        @include font($poppins, 1em);
        color: $dark-gray;
        padding: 0.5rem;
        text-align: center;
      }
      .product-quantity,
      .product-price {
        @include flex(row, center, center);
        @include font($poppins, 1em);
        color: $dark-gray;
        p {
          padding-right: 0.5rem;
        }
        i {
          --ggs: 0.8;
        }
      }
      .product-buttons {
        @include flex(row, center, center);
        padding: 0.5rem;
        .buttons {
          @include flex(row, space-evenly, center);
          padding-left: 1rem;
          i {
            color: $dark-gray;
            --ggs: 1;
            margin: 0rem 0.8rem;
            cursor: pointer;
          }
          .delete-btn {
            color: #dc2626;
          }
        }
      }
    }

    &:after {
      content: "";
      width: calc(18em + 2rem);
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($darker-gray, 0.5);
  .modal-content {
    @include flex(row, center, center);
    background-color: $surface;
    margin: auto;
    min-width: 40%;
    flex-wrap: wrap;
    // height: 80%;
    border-radius: 6px;
    padding: 2rem;
    position: relative;
    .close-modal-btn {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1rem;
      --ggs: 1.2;
      color: $darker-gray;
      cursor: pointer;
    }
    img {
      width: 15em;
      height: 15em;
      object-fit: contain;
    }
    .product-details {
      @include flex(column, center, center);
      width: 50%;
      padding-left: 2rem;

      .product-name {
        @include font($poppins, 1.2em);
        color: $darker-gray;
        padding: 0.5rem 0;
        text-align: center;
      }
      .product-info {
        @include flex(row);
        .product-quantity,
        .product-price {
          @include flex($items: center);
          @include font($poppins, 1em);
          padding: 0rem 0.5rem;
          color: $dark-gray;
          p {
            padding-right: 0.5rem;
          }
          i {
            --ggs: 0.8;
          }
        }
      }

      .button {
        @include flex(row, center, center);
        margin-top: 0.5rem;
        padding: 0.5rem 0.4rem;
        width: fit-content;
        background-color: #dc2626;
        border-radius: 4px;
        color: $light-gray;
        cursor: pointer;
        p {
          @include font($poppins, 1em);
        }
        i {
          --ggs: 1;
          margin: 0rem 0.8rem;
        }
      }
    }
  }
}
.add-product-page {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
}
.headings {
  @include flex(column, center, center);
  .logo {
    @include font($chakra, 2em, bold);
    color: $primary;
  }
  .title {
    @include font($poppins, 1.8em);
    color: $dark-gray;
    margin-bottom: 0.5rem;
  }
}
.row {
  @include flex();
}
.chart-container {
  @include flex(column, center, center);
  width: 100%;
  height: 50vh;
}

form {
  @include flex(column, center, center);
  .inputs {
    width: 45vh;
    padding: 1rem;
    .input {
      @include flex(column, center);
      label {
        @include font($poppins, 1em, 400);
        color: $dark-gray;
        margin-bottom: 0.8rem;
      }
      input,
      select,
      textarea {
        @include font($poppins, 1em, 400);
        color: $darker-gray;
        padding: 0.375rem 0.75rem;
        border-radius: 4px;
        background: $light-gray;
        border: 1px solid $dark-gray;
        margin-bottom: 0.5rem;
        outline: none;
        &:focus {
          border: 2px solid $primary;
        }
      }
    }
    input[type="submit"] {
      width: 100%;
      @include font($poppins, 1em, 400);
      background-color: $primary;
      color: $light-gray;
      padding: 0.4rem 1rem;
      border-color: $primary;
      border-radius: 4px;
      margin-top: 0.5rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 1111px) {
  .container {
    .products {
      justify-content: center;
    }
  }
}

@media (max-width: 656px) {
  .modal .modal-content .product-details {
    padding-left: 0;
  }
}

@media (max-width: 500px) {
  form .inputs {
    width: auto;
    .input {
      width: 60vw;
    }
  }
}

@media (max-width: 420px) {
  .container {
    .products {
      .product {
        width: 14em;
      }
      &:after {
        content: "";
        width: 0;
      }
    }
  }
}
